<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <% include partials/template/header.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  <body>
<% include partials/content/whoarewe.ejs %>

<% include partials/template/footer.ejs%>

</body>
</html>
