<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Artwork</title>
  </head>
  <body>
    <% include partials/template/header.ejs %>
    <% include partials/content/artworklist.ejs %>
  <% include partials/template/footer.ejs%>
  </body>
</html>
