<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Speaker Info</title>
  </head>
  <body>
    <% include partials/template/header.ejs %>
    <% include partials/content/speakerslist.ejs %>
  <% include partials/template/footer.ejs%>
  </body>
</html>
