<header>
  <div class="hero">
      <section class='layout'>
        <div class="branding">
          <a href="/"><img src="/images/misc/rouxacademymeetups.svg" alt="Roux Acadmey Logo"></a>
        </div>
      </section>
  </div>
  <div class="navigation">
    <section class='layout'>
      <ul class='nav'>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Speakers</a></li>
        <li><a href="/artwork">Artwork</a></li>
        <li><a href="/about">About</a></li>

      </ul>
    </section>
  </div>
</header>
